<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Diário da Humanidade</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if usuario_signed_in? %>
            <li><%= link_to current_usuario.name, perfil_path, class: 'btn' %></li>
            <li><%= link_to 'Sair', destroy_usuario_session_path, method: :delete, class: 'btn' %></li>
          <% else %>
            <li><%= link_to 'Criar Conta', new_usuario_registration_path, class: 'btn' %></li>
            <li><%= link_to 'Entrar', new_usuario_session_path, class: 'btn' %></li>
          <% end %>
        </ul>
      </div>
  </div>
</nav>
