<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <title>Diário da Humanidade</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:300,400,500,700' %>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body class="wrap">
    <header>
      <%= render 'layouts/menu' %>
    </header>

    <main>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>

      <div class="fixed-fab">
        <%= link_to new_post_path, class: 'btn btn-primary btn-raised btn-fab btn-round', title: 'Novo Post', data: { no_turbolink: true } do %>
          <i class="material-icons">add</i>
        <% end if usuario_signed_in? && request.fullpath != new_post_path %>
      </div>
    </main>

    <footer class="footer">
      <p class="text-center">Diário da Humanidade - <%= Date.today.year %></p>
    </footer>
  </body>
</html>
